footer {
  padding: 50px 0px 50px 0px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  img {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
  }

  padding: 25px;
}

.footer-info-container {
  display: flex;
  a {
    color: white;

    &:visited {
      color: white;
    }
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.contact-info-footer {
  h2 {
    color: #d99054;
    font-family: Novecento Sans Web, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
  }
  p {
    font-family: Merriweather Web, serif;
    color: white;
    font-size: 1rem;
  }

  padding-right: 25px;
}

.business-hours {
  h2 {
    color: #d99054;
    font-family: Novecento Sans Web, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
  }
  p {
    font-family: Merriweather Web, serif;
    font-size: 1rem;
    color: white;
  }
}

.day-of-week {
  font-weight: bold;
}

.copyright-footer {
  h2 {
    display: flex;
    justify-content: center;
    font-family: Novecento Sans Web, sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 400;
  }
}
