.about {

    img {
        
        height: fit-content;
        width: fit-content;
        position: relative;
        opacity: 0.75;
      
        }
    

    figure {
        display: flex;
        background-color: black;
    }


    h2 {
       
        display: flex;
        color: white;
        width: 100vw;
        position: absolute;
        align-self: center;
        justify-content: center;
        font-family: Novecento Sans Web,sans-serif;
        font-size: 3em;
         text-transform: uppercase;
    }
}


