.about-banner {
  height: 100vh;
  background-size: cover;

  h2 {
    display: flex;
    color: white;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-family: Novecento Sans Web, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
  }
}

.about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  margin: 0 auto 100px auto;

  h2 {
    font-family: Novecento Sans Web, sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    color: #2f1339;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  p {
    font-family: Merriweather Web, serif;
    font-size: 1em;
  }
}

// .about {
//     img {
//       height: fit-content;
//       width: fit-content;
//       position: relative;
//       opacity: 0.75;
//     }

//     figure {
//       display: flex;
//       background-color: black;
//     }
