body {
  background: white;
  font-size: 2em;
  color: #404040;
  font-family: Merriweather Web,serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.hero-banner {
  position: relative;
  background-color: black;

  img {
    height: fit-content;
    width: fit-content;
    opacity: 0.75;
    }

}

#main-logo  {

    opacity: 1;
    color: white;
    width: 25%;
    position: absolute;
    top: 30%;
    left: 40%;
    
  

}







