body {
  background: white;

  color: #404040;
  font-family: Merriweather Web, serif;
  font-size: 16px;

  line-height: 1.75;
}

.content-container {
  width: 1170px;
  margin: 0 auto;
}

.hero-banner {
  background-size: cover;
}

.main-logo {
  display: flex;
  color: white;
  height: 100%;
  width: 100vw;
  align-items: center;
  justify-content: center;

  img {
    width: 25%;
    height: 25%;
  }
}

.home-product-grid {
  display: flex;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: 1;
}

.home-product-container {
  // border: 1px solid black;
  // margin: 0 10px 10px 10px;

  img {
    width: 50%;
    height: 50%;
  }
}

.home-journal-grid {
  display: flex;
}

.home-journal-container {
  img {
    width: 100%;
    height: 100%;
  }
  margin-bottom: 100px;
}
