.journal {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 75% 20%;

  a {
    color: #248a83;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.blog-banner-container {
  display: grid;
  grid-column-start: 1;
  height: 560px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.blog-title {
  margin-top: 5%;
  background-color: #248a83;
  width: 60%;
  padding: 10px 0px 10px 50px;
  h2 {
    font-size: 2em;
    font-family: Novecento Sans Web, sans-serif;
  }

  a {
    // font-size: 2.5em;
    color: white;
    text-decoration: none;
  }
}

.blog-bottom-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  font-family: Merriweather Web, serif;

  width: 100%;

  p {
    font-size: 1em;
    background-color: #248a83;
    width: 50%;
    color: white;
    margin-bottom: 10px;
  }
}
.blog-content {
  display: grid;
  grid-column-start: 1;

  font-family: Merriweather Web, serif;
}

.sidebar-journal {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
}

.blog-content-bottom-links {
  display: flex;
  justify-content: flex-start;
}
.blog-content-cat {
  font-family: Novecento Sans Web, sans-serif;

  margin-right: 10px;
}
