.journal {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 75% 20%;

  a {
    color: $green;
    &:visited {
      color: $green;
    }
  }
}

.blog-banner-container {
  display: grid;
  grid-column-start: 1;
  height: 560px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.blog-title {
  margin-top: 5%;
  background-color: #248a83;
  width: 60%;
  padding: 10px 0px 10px 50px;
  a {
    color: white;
    &:visited {
      color: white;
    }
  }
  h2 {
    font-weight: 700;
    font-size: 2em;
    font-family: Novecento Sans Web, sans-serif;
  }

  a {
    // font-size: 2.5em;
    color: white;
    text-decoration: none;
  }
}

.blog-bottom-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  font-family: Merriweather Web, serif;

  p {
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    background-color: #248a83;
    color: white;
    padding: 2px 30px;
  }
}
.blog-content {
  display: grid;
  grid-column-start: 1;
  font-family: Merriweather Web, serif;
}

.sidebar-journal {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
}

.blog-content-bottom-links {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.blog-content-cat {
  font-family: Novecento Sans Web, sans-serif;

  margin-right: 10px;
}

.journal-button {
  font-family: Novecento Sans Web, sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 20px;
  margin-bottom: 40px;
  a {
    color: $darkGrey;
    background-color: white;
    border: 1px solid $darkGrey;
    color: $darkGrey;
    padding: 10px 30px;

    &:hover {
      background-color: $green;
      border: 1px solid $green;
      color: #fff;
    }
  }
}
