.product-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e1e1e1;
  margin: 0 10px 10px 10px;
}

.shop-pic {
  height: 75%;

  img {
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #e1e1e1;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 15px 10px;
}

.single-product {
  display: flex;
  width: 100%;
  margin-top: 50px;

  img {
    object-fit: contain;
    object-position: top;
    width: 40%;
  }
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: Novecento Sans Web, sans-serif;
  border-bottom: 1px dashed #c8c8c8;
  margin-top: 20px;
  margin-bottom: 40px;

  ul {
    margin-bottom: 40px;
  }

  li {
    display: inline;
    padding: 20px;
  }

  a {
    color: $green;
    font-size: 1.2rem;
    text-decoration: none;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
}

.product-button {
  font-family: Novecento Sans Web, sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 20px;
  margin-bottom: 40px;

  a {
    color: $darkGrey;
    background-color: white;
    border: 1px solid $darkGrey;
    color: $darkGrey;
    padding: 10px 30px;

    &:hover {
      background-color: $green;
      border: 1px solid $green;
      color: #fff;
    }
  }
}

.single-product-text {
  margin-left: 50px;
  h2 {
    color: #d99054;
    font-size: 2em;
    font-family: Novecento Sans Web, sans-serif;
    text-transform: uppercase;
  }

  h3 {
    color: $darkGrey;
    font-family: Novecento Sans Web, sans-serif;
    font-size: 1.8em;
  }
}
