.product-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.item-container {
  border: 1px solid #e1e1e1;
  margin: 0 10px 10px 10px;

  img {
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #e1e1e1;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 10px 10px;
}

.single-product {
  display: flex;
  width: 100%;

  img {
    object-fit: contain;
    object-position: top;
    width: 50%;
  }
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: Novecento Sans Web, sans-serif;
  border-bottom: 1px dashed #c8c8c8;
  margin-top: 20px;
  margin-bottom: 40px;

  ul {
    margin-bottom: 40px;
  }

  li {
    display: inline;
    padding: 20px;
  }

  a {
    color: $green;
    font-size: 1.2rem;
    text-decoration: none;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
}
